.drawer-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.644);
  visibility: hidden;

  &.isShow {
    visibility: visible;
  }

  display: flex;
  justify-content: flex-end;
  .drawer-content {
    width: 28%;
    padding: 0 6rem;
    padding-top: 5rem;
    background-color: white;

    transform: translateX(100%);
    transition: all 0.5s;

    &.active {
      transform: translateX(0);
      overflow: hidden;
      height: 100vh;
    }

    .btn-container {
      justify-content: center;
      padding: 1.5rem 0;
      cursor: pointer;
    }
    img {
      max-width: 5vw;
      object-fit: cover;
    }
    svg {
      font-size: 3rem;
    }
  }
  .fist {
    transition: all 0.5s;
    &:hover {
      background: black;
      color: white;
    }
  }
  .cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 45vh;
    overflow: hidden;
    overflow-y: scroll;
    svg {
      font-size: 2rem;
    }
  }
}

.cart-item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0rem;
  border-bottom: 1px solid #ddd;
  .item-detail {
    display: flex;
    font-size: 1.4rem;
    font-weight: 600;
    a {
      font-size: 1.8rem;
      margin-bottom: -1rem;
    }
    img {
      width: 100%;
      object-fit: cover;
      padding-right: 2rem;
      margin-right: 1rem;
    }
    span {
      display: inline-block;
    }
    .label {
      font-weight: 600;
      color: black;
      margin-right: 1rem;
    }
  }
}

.drawer-price {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 5rem 0;
  font-size: 2.5rem;
  color: black;
}

.item-price {
  font-size: 1.2rem;
}

@media only screen and (max-width: 375px) {
  .drawer-container .drawer-content {
    width: 100%;
  }
  .cart {
    .item-detail {
      align-items: center;
      div {
        &:first-child {
          width: 100px;
          margin: 10px;
        }
        &:last-child {
          a {
            font-size: 2rem;
          }
          .item-price {
            font-size: 2rem;
          }
        }
      }
      font-size: 2rem;
      img {
        padding: 0;
        margin: 0;
        width: 100px;
        height: 100px;
        max-width: none;
      }
    }
  }
}
